.MainPage-title {
  color: crimson;
  font-size: 6  vh;
}

.MainPage-linkedin {
  /* position: absolute;
  left: 20px; */
}

.MainPage-page {
  /* position: absolute;
  top: 20px;
  left: 20px; */
  /* margin-left: 20px; */
}
@media only screen  and (max-width:600px) {
  .MainPage-page {
    /* position: absolute;
    top: 20px;
    left: 20px; */
    margin-left: 5px;
    /* height: calc(100vh - 3px); */
  }
  .MainPage-title {
    color: crimson;
    font-size: 4vh;
  }
}
