.Project-img {
  width: 100px;
}

.Project-card {
  margin-left: 20px;

  flex-basis: 40%;
  flex-shrink: 0;
  /* width: 100px; */
}

.Project-CardHeader {
  min-height: 200px;
}

@media only screen  and (max-width:600px) {
 
  .Project-card {
   margin-bottom: 20px;
    width: 90%;
    /* text-align: right; */
  
  }
}