.Projects-projectContainer {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */

  overflow: hidden;
  overflow-x: scroll;
  /* overflow-y: scroll; */
  /* min-width: 80px; */
  width: 100%;
  /* hight: 400px;
  flex-wrap: nowrap; */
}
