.AboutMe-Nav {

}
.AboutMe-Nav-div{
  margin-left: 70px;
}
.AboutMe-linkesDiv {
  display: flex;

}


.AboutMe-linkedinLink{

  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  
}

.AboutMe-gitHubLink{
 
  margin-top:20px;
  margin-left: 30px;

  
}
.AboutMe-linkedinIcon {

}
.AboutMe-page {


  width: 100vw;
  padding-bottom: 0;
  /* height: 100%; */
}

.AboutMe-headerContainer {
  
  display: flex;
  justify-content: center;
  align-content: center;
  /* flex-direction: column; */
}

.AboutMe-mainPage {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../../images/resume-6627200.jpg");
  background-size: cover;
  height: 100vh;
  /* padding: 20px; */
  /* margin-bottom: 0; */
}


.AboutMe-title {
  /* display: flex; */
  /* float: right; */
  margin-left: 30px;
  color:crimson;
  font-size: 35px;
 

  
}
.AboutMe-myCvTitle{
color: darkgreen;

}
.AboutMe-cvDiv {
  /* align-content: center; */
  display: inline-flex;
  position: relative;
  top: 10px;
  left: 30px;
}

.AboutMe-cvFile {
  align-content: center;
}
.AboutMe-ulDetails {
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 20%;
  display: table;
}

.AboutMe-aboutMeTitle {
  justify-content: left;
  /* margin-left: 0px; */
}


@media only screen  and (max-width:600px) {
 
  .AboutMe-mainPage {
    margin-left: 0px;
  
  }
  .AboutMe-Nav-div{
    margin-left: 0px;
    /* margin-top: 60px; */
  }
  .AboutMe-page {
  
    padding-bottom: 0;
  }
  .AboutMe-aboutMeTitle {
    /* justify-content: left; */
    text-align: left;

    font-size: 20px;
    margin-left: 50px;
  }
  .AboutMe-myCvTitle{
    text-align: left;
    margin-left: 80px;
    /* font-size: 20px; */
  }
  .AboutMe-ulDetails {
 
    margin-left: 0%;
    padding-right: 10px;
      font-size: 15px;
      /* padding-left: 20px; */
     
  }
  .AboutMe-title{
    font-size: 25px;
    margin-left: 25px;
  }
  .AboutMe-links{
    display: flex;
  }

  .AboutMe-linkedinLink{
   
    margin-top: 10px;
    
  }
  
  .AboutMe-gitHubLink{
    margin-left: 10px;
    margin-top: 3px;
  
    
  }
 
}